<%= simple_form_for(@status, html: {class: "form-vertical"}) do |f| %> 
  <div class="field">
    <%= f.input :user_id, collection: User.all, label_method: :full_name %>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
