<% provide(:title, "All Setlists") %>

<h1>All Setlists</h1>

<div class="push">
  <%= link_to "Post a new setlist", new_status_path, class: "btn btn-danger" %>
</div>
<% @statuses.each do |status| %>
  <div class="media pull-left">
    <div class="media-object">
        <%= image_tag status.user.gravatar_url, class: "gravatar" %>
      </div>
    </div>
  <div class="media">
    <div class="media-heading">        
      <strong><%= status.user.full_name %></strong>
      <p><%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class="admin">
          <%= link_to "Edit", edit_status_path(status) %> |
          <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure you want to delete this status?"} %>
        </span>
      </div>
    </div>
  </div>  


<% end %>
