<footer class="footer">
  <small>
    <div><%= link_to "Setlist Application", root_path %> by: Colin Stodd</div>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help",    help_path %></li> 
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News",    "https://www.facebook.com/colin.stodd" %></li>
    </ul>
  </nav>
</footer>