<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Setlist.", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li> 
          <li><%= link_to "Help",    help_path %></li> 
          <li><%= render 'devise/shared/registration_items' %></li>
          <li><%= render 'devise/shared/login_items' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>