<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Setlist.", root_path, id: "logo" %>
      <nav>        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- above button is for collapse purposes -->
        <div class="collapse navbar-collapse dropdown-toggle" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">          
            <li><%= link_to "Setlists", statuses_path %></li>
            <li><%= %></li>
            <li><%= render 'devise/shared/login_items' %></li>
            <li><%= render 'devise/shared/registration_items' %></li>
          </ul>
        </div>        
      </nav>
    </div>
  </div>
</header>